@media only screen and (max-width: 480px) {

	aside {
		width: 100%;
		padding: 20px 0 15px;
		position: inherit !important;
		background-image: none;
		a {
			bottom: -106px;
		}
		#messages {
			div {
				margin: 0 10px;
			}
		}
	}

	.open, .man {
		display: none;
	}

	.js-drag {
		width: 100%;
		bottom: 0;
		left: 0;
		cursor: pointer;
	}

	#map_canvas {
		min-height: 320px;
		height: 320px !important;
		position: relative;
	}

	.left-col {

		.twitter {
			clear: both;
		}

		.jg-logo {
			display: none;
		}

		width: 100%;
		height: auto;
		min-height: inherit;

		> header {
			width: 150px;
			float: left;
			height: 150px;
			img {
				margin: 35px 0 0 33px;
				width: 53%;
			}
		}

		footer {
			display: none;
			position: relative;
			.social-media {
				width: 100%;
			}
			#js-close {
				display: none;
			} 
		}

		.information{
			li {
				border: 0;
				background: none;
			}
			ul {
				float: left;
				margin: 5px 0 0 5px;
			}
			p {
				padding: 0px 0 0 5px;
				margin: 0 0 7px;

			}
			
		}

	}
	
}