@import 'sass-bootstrap/lib/variables';
@import 'sass-bootstrap/lib/mixins';
@import 'sass-bootstrap/lib/reset';
@import 'sass-bootstrap/lib/type';
@import 'varibles';
@import 'typography';
@import 'map';
@import 'sidebar';
@import 'messages';
@import 'mediaqueries';
@import 'ie';

html { 
	height: 100%;
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}